.venv/
.idea/
.git/
__pycache__/
.mypy_cache/
.pytest_cache/
logs/
dist/
build/
*.egg-info/
Notes/
*.pyc
.env
*.log
.coverage

# Celery Beat schedule local files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
