# === Project settings ===
# Base URL for parsing
BASE_URL=
# Maximum pages per category for search, 0 or None for unlimited
MAX_PAGE_PER_CATEGORY=
# Batch buffer size
BATCH_SIZE=
# Results collection interval in seconds
COLLECT_INTERVAL=
# Maximum task retries
MAX_RETRIES=
# Number of scraping workers
WORKER_COUNT=

# === PostgreSQL settings ===
# Database name
DB_NAME=
# Database host
DB_HOST=
# Database port
DB_PORT=
# User name
DB_USER=
# User password
DB_PASSWORD=

# === Redis settings ===
# Redis host
REDIS_HOST=
# Redis port
REDIS_PORT=
# Redis for broker ID
REDIS_BROKER_DB=0
# Redis for backend ID
REDIS_BACKEND_DB=1
# Redis for cache ID
REDIS_CACHE_DB=2

# Flower
FLOWER_PORT=5555

# Logging
# Log level for main scraper script (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL_SCRAPER=
# Log level for Celery workers (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL_WORKER=
# Log level for Celery beat (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL_BEAT=
# Log level for Flower (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL_FLOWER=
