# === Project settings ===
# Base URL for parsing
BASE_URL=
# Maximum pages per category for search, 0 or None for unlimited
MAX_PAGE_PER_CATEGORY=
# Celery settings
# Number of scraping workers
WORKER_COUNT=
# Number of attempts to retry a failed task
MAX_RETRIES=
# Batch buffer size
BATCH_SIZE=
# Results collection interval in seconds
COLLECT_INTERVAL=

# === Database settings ===
# Database name
DB_NAME=
# Database host
HOST=
# Database port
PORT=
# User name
USER=
# User password
PASSWORD=

# === Redis settings ===
# Redis host
REDIS_HOST=
# Redis port
REDIS_PORT=
# Redis for broker ID
REDIS_BROKER_DB=0
# Redis for backend ID
REDIS_BACKEND_DB=1
# Redis for cache ID
REDIS_CACHE_DB=2